{{ $.Scratch.Add "inactive" (slice) }}
{{ $.Scratch.Add "active" (slice) }}
{{ range $key, $value := .Site.Taxonomies.authors }}
  {{ $contribution := (index $value 0).Page.Date }}
  {{ $muted := now.After ($contribution.AddDate 0 6 0) }}
  {{ if $muted }}
    {{ $.Scratch.Add "inactive" $key }}
  {{ else }}
    {{ $.Scratch.Add "active" $key }}
  {{ end }}
{{ end }}


<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
      <div class="container">

        <div class='row mt-3'>
          <div class='col-lg-12 text-xs-center'>
            <h1>Auteurs récents</h1>
          </div>
        </div>

        <div class='row mt-3'>
          <div class="col-lg-12">
            {{ range $key := $.Scratch.Get "active" }}
              {{ $data := index $.Site.Data.people $key }}
              <div class="card mt-3">
                <div class="card-header">
                  <h2>
                    <div class="float-xs-right">
                      <small>
                        <span class="circled-icon">
                          {{ range $data.social }}
                            <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
                          {{ end }}
                        </span>
                      </small>
                    </div>
                    <img alt="Photo {{ $data.name }}" width=40 class="rounded-circle" src="/assets/images/people/{{ $key }}.jpg" />
                    <a href="{{ $.Site.LanguagePrefix }}/authors/{{ $key | urlize }}">{{ $data.name }}</a>
                  </h2>
                </div>
              </div>
              {{ range first 3 (index $.Site.Taxonomies.authors $key) }}
                {{ partial "components/page-short-ref" .Page }}
              {{ end }}
            {{ end }}
          </div>
        </div>

        <div class='row mt-3'>
          <div class='col-lg-12 text-xs-center'>
            <h1>Auteurs historiques</h1>
          </div>
        </div>

        <div class='row mt-3'>
          <div class="col-lg-12">
            {{ range $key := $.Scratch.Get "inactive" }}
              {{ $data := index $.Site.Data.people $key }}
              <div class="card mt-3">
                <div class="card-header">
                  <h2>
                    <div class="float-xs-right">
                      <small>
                        <span class="circled-icon">
                          {{ range $data.social }}
                            <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
                          {{ end }}
                        </span>
                      </small>
                    </div>
                    <img alt="Photo {{ $data.name }}" width=40 class="rounded-circle" src="/assets/images/people/{{ $key }}.jpg" />
                    <a href="{{ $.Site.LanguagePrefix }}/authors/{{ $key | urlize }}">{{ $data.name }}</a>
                  </h2>
                </div>
              </div>
              {{ range first 3 (index $.Site.Taxonomies.authors $key) }}
                {{ partial "components/page-short-ref" .Page }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    {{ partial "footer" . }}
  </body>
</html>
