{{ $.Scratch.Add "inactive" (slice) }}
{{ $.Scratch.Add "active" (slice) }}
{{ range $key, $value := .Site.Taxonomies.authors }}
  {{ $contribution := (index $value 0).Page.Date }}
  {{ $muted := now.After ($contribution.AddDate 0 6 0) }}
  {{ if $muted }}
    {{ $.Scratch.Add "inactive" $key }}
  {{ else }}
    {{ $.Scratch.Add "active" $key }}
  {{ end }}
{{ end }}


<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
      <div class="container">

        <div class='row mt-3'>
          <div class='offset-lg-2 col-lg-8 col-xs-12 text-xs-center'>
            <h1>Auteurs récents</h1>
          </div>
        </div>

        <div class='row mt-3'>
          <div class="offset-lg-2 col-lg-8 col-xs-12">
            {{ range $key := $.Scratch.Get "active" }}
              {{ partial "components/pages-by-author" (dict "author" $key "data" (index $.Site.Data.people $key) "pages" (index $.Site.Taxonomies.authors $key)) }}
            {{ end }}
          </div>
        </div>

        <div class='row mt-3'>
          <div class='offset-lg-2 col-lg-8 col-xs-12 text-xs-center'>
            <h1>Auteurs historiques</h1>
          </div>
        </div>

        <div class='row mt-3'>
          <div class="offset-lg-2 col-lg-8 col-xs-12">
            {{ range $key := $.Scratch.Get "inactive" }}
              {{ partial "components/pages-by-author" (dict "author" $key "data" (index $.Site.Data.people $key) "pages" (index $.Site.Taxonomies.authors $key)) }}
            {{ end }}
          </div>
        </div>
      </div>
    {{ partial "footer" . }}
  </body>
</html>
