{{ $has_extention := ge (len (findRE "\\.[a-z]{3,4}$" .image.name)) 1}}
<div style=" overflow: hidden; ">
  <figure>
    <img alt="{{ .image.description }}"
         {{ if $has_extention }}
          src="{{ .path }}/{{ .image.name }}"
         {{ else }}
          src="{{ .path }}/{{ .image.name | default "illustration" }}__thumbnail-wide.jpg"
         {{ end }}
         class="rounded {{ .class | default "img-fluid" }}"/>
    <figcaption>
      {{ with .image.source }}
        <span class="img-credit float-xs-right">
          <a href="{{ . }}">Source</a>
        </span>
      {{ end }}
      {{ with .image.legend }}
        <span>
          <small>{{ . }}</small>
        </span>
      {{ end }}
    </figcaption>
  </figure>
</div>
