<div class="card mt-1">
  <div class="card-block">
    <small>
      <div class="float-xs-right">
        {{ partial "components/categories" . }}
        {{ partial "components/tags" . }}
      </div>
      <div>
        {{ partial "components/page-section" . }}
        &nbsp;—&nbsp;
        <i class='fa fa-calendar'></i> {{ .Lastmod | dateFormat $.Site.Params.date_format.default }}
      </div>
    </small>
    <h3 class="card-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h3>
  </div>
</div>
