{{ define "main" }}
  <div class='row mt-3'>
    <div class='col-md-12 col-xs-12 text-xs-center'>
      <h1>
        {{ partial "components/title" . }}
      </h1>
    </div>
  </div>

  <div class="row mt-3">
    {{ range sort .Pages }}
      {{ if not .Params.hidden }}
        <div class='col-md-4 col-xs-12'>
          <div class="card">
            <a href="{{ .RelPermalink }}">
              <img
                class="card-img-top talk-illustration"
                alt="{{ .Title }}"
                src="{{ .RelPermalink }}/illustration__thumbnail-wide.jpg" />
            </a>
            <div class="card-block">
              <a href="{{ .RelPermalink }}">
                <h4 class="card-title">{{ .Title | markdownify }}</h4>
              </a>
              {{ if .Params.in_progress }}
                <p class="text-muted"><small><i class="fa fa-wrench"></i> {{ i18n "in_progress" }}</small></p>
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
