---
layout: default
title: Books
permalink: /books/
---

<div class='row spacer-20'>
  <div class='col-md-12 col-xs-12 text-xs-center'>
    <h1>Les livres</h1>
  </div>
</div>

{% for book in site.books %}
{% unless book.hidden %}
<div class="row spacer-40">
  <div class="offset-sm-2 col-md-8 col-xs-12">
    <h3>
      <a href="{{ book.url }}">{{ book.title }}</a>
      {% if book.authors %}<br><small>{{ book.authors | join: ', ' }}</small>{% endif %}
    </h3>
  </div>
</div>
{% endunless %}
{% endfor %}
