---
layout: default

description: >
    Ajiro est un groupe de personnes passionnées et curieuses qui se consacrent au développement d'entreprises saines et humaines.
---
<div class="text-center">
  <h1>Ajiro</h1>
</div>
<div class="row spacer-40">
  <div class="col-md-12">
    <div class="jumbotron">
      <p class="text-justify">
        Nous sommes une communauté qui vise à développer des organisations saines et humaines.
      </p>
    </div>
  </div>
</div>

<div class='row spacer-20'>
  <div class='col-md-12 '>
    <h2><font color="purple">Nos Valeurs</font></h2>
  </div>
</div>
<div class='row spacer-20'>
  <div class='col-md-12 text-justify'>
    <h3><font color=#08298A>Confiance</font></h3>
    <p>Conviction que l'homme est bon, </p>
    <p> donc transparence et partage, </p>
    <p> transparence et partage de l'information,</p>
    <p></p>recherche de la réciprocité, donner sans attendre de recevoir</p>
    
    <h3><font color=#08298A>Innovation</font></h3>
    
    <p>Créativité</p>
    <p>apprentissage</p>
    <p>curiosité</p>
    <p>prise de risque & droit à l'erreur</p>


    <h3><font color=#08298A>Simplicité</font></h3>
    <p>Laisser les Egos de côté</p>
    <p>Frugalité </p>
    
    <h3><font color=#08298A>Bienveillance</font></h3>
    <p>Encourager les différences</p>
    <p>Respect</p>
    <p>Valoriser les succès</p>

<p>Fun</p>
    
  </div>
</div>

<div class='row spacer-20'>
  <div class='col-md-12 '>
    <h2><font color="purple">L'équipe</font></h2>
  </div>
</div>
{% for member in site.data.team %}
  <div class='row spacer-20'>
    <div class='col-md-10'>
      <h3>
      {{member.name}}
      <span class="circled-icon">
        <a href='mailto:{{member.mail}}'><i class='fa fa-envelope'></i></a>
        {% for link in member.social %}
          <a href='{{link.url}}'><i class='fa {{link.icon}}'></i></a>
        {% endfor %}
      </span>
      </h3>
      <p>{{member.bio | markdownify}}</p>
    </div>
    <div class='col-md-2'>
      <img alt="Photo {{member.name}}" class="img-responsive img-thumbnail" src="/assets/images/team/{{member.photo}}" />
    </div>
  </div>
{% endfor %}
