<div class="card mt-1">
  <div class="card-header">
    <h2>
      <div class="float-xs-right">
        <small>
          <span class="circled-icon">
            {{ range .data.social }}
              <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
            {{ end }}
          </span>
        </small>
      </div>
      <img alt="Photo {{ .data.name }}" width=40 class="rounded-circle" src="/assets/images/people/{{ .author }}.jpg" />
      <a href="{{ $.Site.LanguagePrefix }}/authors/{{ .author | urlize }}">{{ .data.name }} <span class="tag tag-pill tag-primary">{{ len .pages }}</span></a>
    </h2>
  </div>
</div>
