<footer class="footer">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            <small>
              &copy; 2016<script>new Date().getFullYear()>2016&&document.write("-"+new Date().getFullYear());</script>, Ajiro.
              Site généré le {{ site.time | date: "%-d %b %Y" }} à {{ site.time | date: "%H:%M" }}.
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
