<footer class="site-footer">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 ">
          <span>
            <small>
              &copy; 2016, Ajiro.
              Site généré le {{ site.time | date: "%-d %b %Y" }} à {{ site.time | date: "%H:%M" }}.
            </small>
          </span>
          <span class="float-xs-right">
            <a href="http://www.xiti.com/xiti.asp?s=575602" title="WebAnalytics" target="_top">
              <noscript>
              Mesure d'audience ROI statistique webanalytics par <img width="80" height="15" src="http://logv2.xiti.com/g.xiti?s=575602&amp;p={{page.path}}" alt="WebAnalytics" />
              </noscript>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
