<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="0UarB19ujkdjHMYL15bSqcuRcxzqWHoaPUyiaP0ErMQ" />
  <!-- Forcing Internet Explorer to use its latest rendering mode -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    Ajiro{% if page.title %} - {{page.title}}{%else%}, {{site.data.values.purpose}}{%endif%}
  </title>
  {% if page.description %}
    <meta name="description" content="{{page.description | strip_newlines}}">
  {% else if page.excerpt %}
    <meta name="description" content="{{page.excerpt | strip_html  | strip_newlines}}">
  {% endif %}
  {% if page.noindex %}
    <meta name="robots" content="noindex,follow"/>
  {% endif %}
  <link rel='shortcut icon' href='/assets/images/icon-ajiro.png' type='image/png'>

  <link rel='stylesheet' href='/assets/vendor/bootstrap-{{site.version.bootstrap}}/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/assets/vendor/bootstrap-{{site.version.bootstrap}}/css/bootstrap-flex.min.css'>
  <link rel='stylesheet' href='/assets/vendor/font-awesome-{{site.version.font_awesome}}/css/font-awesome.min.css'>
  <link rel='stylesheet' href='/assets/stylesheets/ajiro.css'>

  <script src='/assets/vendor/jquery-{{site.version.jquery}}.min.js' defer></script>
  <script src='/assets/vendor/bootstrap-{{site.version.bootstrap}}/js/bootstrap.min.js' defer></script>
  <script src='/assets/javascripts/cookie-consent.js' defer></script>

  <link href="feed.all.xml" type="application/atom+xml" rel="alternate" title="Ajiro RSS Feed"/>
</head>
