<header class="site-header">
  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
      <a class="navbar-brand" href="/">
        <img alt="Ajiro Icon" src="/assets/images/logo-ajiro.svg" height="32">
      </a>
      {% assign current = page.url | downcase | split: '/' %}
      <ul class="nav navbar-nav">
        <li class='nav-item {% if current[1] == 'members' %}active{% endif %}'><a class='nav-link' href='/members/'><i class="fa fa-users"></i> Membres</a></li>
      </ul>
      <ul class="nav navbar-nav float-md-right">
        <li class='nav-item'><a class='nav-link' href='/articles/'><i class="fa fa-file-text-o"></i> Articles</a></li>
        <li class='nav-item'><a class='nav-link' href='/books/'><i class="fa fa-book"></i> Livres</a></li>
        <li class='nav-item'><a class='nav-link' href='/feed.all.xml'><i class="fa fa-rss"></i> RSS</a></li>
      </ul>
    </div>
  </nav>
</header>
