{{ $image := (dict "image" .Params.illustration "path" .RelPermalink )}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ partial "components/articles/description" . }}">
{{ if isset .Params "illustration"}}
  {{ $image_url := partial "components/image_url" $image | absURL }}
  <meta name="twitter:image" content="{{- $image_url -}}">
  <meta name="og:image" content="{{- $image_url -}}">
{{ end }}
