{{ $id := lower .Title }}
{{ $data := index $.Site.Data.people $id }}
{{ $contributions := index $.Site.Taxonomies.authors $id }}
<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partialCached "header" . }}
      <div class="container">

        {{ partial "components/people"  (dict "id" $id "data" $data )}}

        <div class='row mt-3'>
          <div class="offset-lg-2 col-lg-8 col-xs-12">
            <h1>Contributions <span class="tag tag-pill tag-primary pull-right">{{ len $contributions }}</span></h1>
            {{ range $contributions }}
              {{ partial "components/pages/short-ref" .Page }}
            {{ end }}
          </div>
        </div>
      </div>
    {{ partialCached "footer" . }}
  </body>
</html>
