{{ $id := lower .Title }}
{{ $data := index $.Site.Data.people $id }}

<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
      <div class="container">

        {{ partial "components/people"  (dict "id" $id "data" $data )}}

        <div class='row mt-3'>
          <div class="offset-lg-2 col-lg-8 offset-xs-2 col-xs-8">
            <h1>Contributions</h1>
            {{ range index $.Site.Taxonomies.authors $id }}
              {{ partial "components/page-short-ref" .Page }}
            {{ end }}
          </div>
        </div>
      </div>
    {{ partial "footer" . }}
  </body>
</html>
