<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partialCached "header" . }}
      <div class="container">

        <div class='row mt-3'>
          <div class='offset-lg-2 col-lg-8 col-xs-12 text-xs-center'>
            <h1>
              {{ partial "components/pages/title" . }}
            </h1>
          </div>
        </div>

        <div class='row'>
          <div class="offset-lg-2 col-lg-8 col-xs-12">
            {{ range $key, $value := .Data.Terms.Alphabetical }}
              <div class="card mt-3">
                <div class="card-header">
                  <h2>
                    <a href="/categories/{{ $value.Name | urlize }}">
                      {{ if index $.Site.Data.categories $value.Name }}
                        <i class="fa fa-fw fa-{{ (index $.Site.Data.categories $value.Name).icon }}"></i>
                        {{ (index $.Site.Data.categories $value.Name).title }}
                      {{ else }}
                        <i class="fa fa-fw fa-question }}"></i>
                        "{{ $value.Name }}"
                      {{ end }}
                      <span class="tag tag-pill tag-primary pull-right">{{ $value.Count }}</span>
                    </a>
                  </h2>
                </div>
              </div>
              {{ range first 3 $value.Pages.ByDate.Reverse }}
                {{ if not .Params.hidden }}
                  {{ partial "components/pages/short-ref" . }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    {{ partialCached "footer" . }}
  </body>
</html>
