<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
      <div class="container">

        <div class='row mt-3'>
          <div class='col-lg-12 text-xs-center'>
            <h1>
              {{ partial "components/title" . }}
            </h1>
          </div>
        </div>

        <div class='row mt-3'>
          <div class="offset-sm-2 col-md-8 col-xs-12">
            <div class="panel-group" id="accordion">
            {{ range $key, $value := .Data.Terms.ByCount }}
              <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-{{$value.Name | urlize}}">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{$value.Name | urlize}}">
                      {{ if index $.Site.Data.categories $value.Name }}
                        <i class="fa fa-fw fa-{{ (index $.Site.Data.categories $value.Name).icon }}"></i>
                        {{ (index $.Site.Data.categories $value.Name).title }}
                      {{ else }}
                        <i class="fa fa-fw fa-question }}"></i>
                        "{{ $value.Name }}"
                      {{ end }}
                      <span class="badge pull-right">{{ $value.Count }}</span>
                    </a>
                  </h2>
                </div>
                <div id="collapse-{{$value.Name | urlize}}" class="panel-collapse collapse">
                  <div class="panel-body">
                  {{ range $value.Pages.ByDate.Reverse }}
                    <p>
                      <span class="categories-timestamp"><time datetime="{{ .Lastmod }}">{{ .Date | dateFormat $.Site.Params.date_format.default }}</time></span>
                      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                    </p>
                  {{ end }}
                  </div>
                </div>
              </div>
            {{ end }}
            </div>
          </div>
        </div>

      </div>
    {{ partial "footer" . }}
  </body>
</html>
