{{ define "main" }}

  {{ $pages := (where .Pages "Params.hidden" "!=" "true") }}

  <div class='row mt-3'>
    <div class='offset-lg-2 col-lg-8 col-xs-12 text-xs-center'>
      <h1>
        {{ $category := index $.Site.Data.categories (lower .Title) }}
        {{ if $category }}
          <i class="fa fa-fw fa-{{ $category.icon }}"></i>
          {{ $category.title }}
        {{ else }}
          <i class="fa fa-fw fa-question }}"></i>
          "{{ .Title }}"
        {{ end }}
        <span class="tag tag-pill tag-primary">{{ len $pages }}</span>
      </h1>
    </div>
  </div>

  {{ range sort $pages "Lastmod" "desc" }}
    {{ partial "components/pages/long-ref" . }}
  {{ end }}
{{ end }}
