---
layout: default
title: Nos talks
description: |
  Les talks de nos membres
---

<div class='row mt-2'>
  <div class='offset-sm-2 col-md-8 col-xs-12 text-xs-center'>
    <h1>{{page.title}}</h1>
  </div>
</div>

<div class='row mt-2'>
  {% for item in site.talks %}
    <div class='col-md-4 col-xs-12'>

        <div class="card">
          {% if item.illustration %}
          <a href="{{ item.url }}">
            <img class="card-img-top talk-illustration" alt="{{ item.title }}" src="/assets{{item.id}}/{{item.illustration.name}}-800p.jpg" />
          </a>
          {% endif %}
          <div class="card-block">
            <a href="{{ item.url }}">
              <h4 class="card-title">{{ item.title }}</h4>
            </a>
          </div>
        </div>
    </div>
  {% endfor %}
</div>
