<!DOCTYPE html>
<html>
  {{ partial "head" . }}


  <body>
    {{ partial "header" . }}


    <div class="container">
      <div class="text-justify">
        <div class="row mt-3">
          <div class="offset-md-2 col-md-8 col-xs-12">
            <h1>
              {{ .Title }}
              {{ with .Params.subtitle }}<br/><small>{{ . }}</small>{{ end }}
            </h1>
          </div>
        </div>

        <div class="row">
          <div class="offset-lg-2 col-lg-8 col-md-12">
            <small>
              {{ if .Params.Tags }}
                <div class="float-xs-right">
                  <i class="fa fa-tags"></i>
                  {{ range .Params.Tags }}
                    <span class="tag tag-default">{{ . }}</span>
                  {{ end }}
                </div>
              {{ end }}
              <div>
                <i class='fa fa-calendar'></i> {{ .Lastmod | dateFormat "Jan 2, 2006"  }}
                &nbsp;—&nbsp;
                <i class='fa fa-clock-o'></i> {{ .ReadingTime }} mins
              </div>
            </small>
          </div>
        </div>

        <div class="row mt-2">
          <div class="offset-lg-2 col-lg-8 col-md-12">
            {{ if isset .Params "illustration"}}
              {{ partial "components/image" (dict "image" .Params.illustration "path" .Permalink ) }}
            {{ end }}
          </div>
        </div>

        <div class="row mt-3">
          <div class="offset-lg-2 col-lg-8 col-md-12">
            {{ .Content }}
          </div>
        </div>

      </div>

      {{ range .Params.authors }}
        {{ partial "components/people" (dict "id" . "data" (index $.Site.Data.people .) ) }}
      {{ end }}

    </div>

    {{ partial "footer" . }}
  </body>
</html>
