{{ define "main" }}
  <div class='row mt-3'>
    <div class='offset-sm-2 col-md-8 col-xs-12 text-xs-center'>
      <h1>
        {{ partial "components/title" . }}
      </h1>
    </div>
  </div>

  {{ range $key, $value := .Pages }}
    <div class='row mt-1'>
      <div class='col-md-1 col-xs-2'>
        <a href="{{ .Permalink }}">
          <img class="book-cover" alt="{{ .Title }} cover" src="{{ .Permalink }}/cover.jpg" />
        </a>
      </div>
      <div class='col-md-11 col-xs-10'>
        <a href="{{ .Permalink }}">
          <h2>{{ .Title | markdownify }}<br><small>{{delimit .Params.book_authors ';'}}</small></h2>
        </a>
      </div>
    </div>
  {{ end }}
{{ end }}
