{{ define "main" }}
  <div class="row mt-3">
    <div class="offset-md-2 col-md-8 col-xs-12">
      <h1>
        {{ partial "components/title" . }}
        <br/><small>{{delimit .Params.book_authors ';'}}</small>
      </h1>
    </div>
  </div>
  <div class="row mt-3 text-justify">
    <div class="col-md-2 col-xs-12">
      <img alt="{{ .Title }} cover"src="{{ .Permalink }}/cover.jpg" class="img-fluid"/>
    </div>
    <div class="col-md-8 col-xs-12">
      <p>
        {{delimit .Params.book_authors ','}}
        <i>{{.Title | markdownify }}
        {{ with .Params.subtitle }} — {{ . }}{{ end }}</i>.
        {{ with .Params.edition }}{{ . }}. {{ end }}
        {{ with .Params.address }}{{ . }} : {{ end }}
        {{ with .Params.publisher }}{{ . }}, {{ end }}
        {{ with .Params.year }}{{ . }}. {{ end }}
        {{ with .Params.isbn }}ISBN: {{ . }}{{ end }}
      </p>

      {{ with .Params.summary }}
        <div class="card bg-light-gray">
          <div class="card-block">
            <h2>{{ i18n "summary" }}</h2>
            <p>{{. | markdownify}}</p>
          </div>
        </div>
      {{ end }}

      {{ with .Params.notes }}
        <h2>Notes</h2>
        <p>{{. | markdownify}}</p>
      {{ end }}
    </div>
  </div>

  <p>{{ .Content }}</p>
  <div class="row  mt-3">
    <div class="offset-md-2 col-md-8 col-xs-12">
      {{ partial "components/references" . }}
    </div>
  </div>

  {{ partial "components/comments" . }}
{{ end }}
