
.article {
  text-align: justify;
  -moz-hyphens: auto;
  word-wrap: break-word;
}

.article-metadata {
  margin-top : 0.5em;
  padding-top : 0.5em;

  margin-bottom: 0.5em;
  padding-bottom : 0.5em;

  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

/* Images class */

.img-xl {
  display: block;
  width: 100%;
  height: auto;
}

.img-l {
  display: block;
  width: 80%;
  height: auto;
}

.img-m {
  display: block;
  width: 60%;
  height: auto;
}

.img-s {
  display: block;
  width: 40%;
  height: auto;
}

.img-xs {
  display: block;
  width: 20%;
  height: auto;
}

.img-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-right {
  display: block;
  margin-left: auto;
}

.img-left {
  display: block;
  margin-right: auto;
}

.img-float-left {
  float: left !important;
}

.img-float-right {
  float: right !important;
}
