/* == General */

.text-justify {
  -moz-hyphens: auto;
  text-align: justify;
  word-wrap: break-word;
}

.spacer-20 {
  margin-top: 20px;
}

.spacer-40 {
  margin-top: 40px;
}

.spacer-80 {
  margin-top: 80px;
}

.debug {
  border: solid 1px red;
}


/* == Colors */

.rose {
  color: #CD3349;
}

.bleu {
  color: #3D7890;
}

h1, h2, h3 {
  color: #3B3B3B;
}

/* == Fonts */

@font-face {
  font-family: "Linux Biolinum";
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/LinBiolinum_R.otf') format('opentype');
  font-smooth: always;
}

@font-face {
  font-family: "Linux Biolinum";
  font-style: italic;
  font-weight: normal;
  src: url('/assets/fonts/LinBiolinum_RI.otf') format('opentype');
  font-smooth: always;
}

@font-face {
  font-family: "Linux Biolinum";
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/LinBiolinum_RB.otf') format('opentype');
  font-smooth: always;
}

body {
  font-family: 'Linux Biolinum';
  font-size: 18px;
  background-repeat: no-repeat;
<<<<<<< HEAD
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  body {
    background-image: none;
  }
  .site-footer {
    background-color: #3D7890;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body {
    background-image: url('/assets/images/footer.svg') ;
    background-position: 82% 100%;
  }
  .site-footer {
    background-color: transparent;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}


/* == Sections */

.site-header {
  background-color: #3d7890;
}

.site-footer {
  color: #eeeeec;
  margin-top : 2em;
  padding-top : 2em;
  padding-bottom : 2em;
  display: table;
  width: 100%;
}

.circled-icon i {
  background-color: #eeeeec;
  color: #000000;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 2px;
  vertical-align: middle;
}

.circled-icon a {
  color: inherit;
  text-decoration: none;
}

.value-icon {
  font-size: 60px;
}

.value ul
{
  list-style-type: none;
  padding:0;
  margin:0;
}


.organisation-logo {
  text-align: center;
  margin: 2px;
  border-radius: 6px;
  display: inline-block;
  background-color: white;
  border: 1px solid white;
}

.organisation-logo:hover {
  border: 1px solid #eee;
  filter: none;
}

.organisation-logo div {
  line-height: 12px;
}

.organisation-logo a {
  text-decoration: none;
  color: inherit;
}

.organisation-logo img {
  width: 100px;
}
