{{ define "main" }}
  <div class="row mt-3">
    <div class="offset-lg-2 col-lg-8 col-md-12">
      <h1>
        {{ partial "components/pages/title" . }}
      </h1>
    </div>
  </div>

  {{ if isset .Params "illustration"}}
    <div class="row mt-2">
      <div class="offset-lg-2 col-lg-8 col-md-12">
        {{ partial "components/image" (dict "image" .Params.illustration "path" .RelPermalink ) }}
      </div>
    </div>
  {{ end }}

  <div class="row mt-2">
    <div class="offset-lg-2 col-lg-8 col-md-12 text-justify">
      {{ .Content }}
    </div>
  </div>

  {{ range .Params.authors }}
    {{ partial "components/people" (dict "id" . "data" (index $.Site.Data.people .) ) }}
  {{ end }}

  <div class="row mt-3">
    <div class="offset-lg-2 col-lg-8 col-md-12 text-justify">
      {{ partial "components/references" . }}
    </div>
  </div>
{{ end }}
