---
layout: default
title: Les membres
description: >
  Les membres d'Ajiro
---

<div class='row spacer-20'>
  <div class='col-md-12 text-center'>
    <h2>{{page.title}}</h2>
  </div>
</div>

{% capture members_id %}
  {% for member in site.data.people %}
    {{ member | first }}
  {% endfor %}
{% endcapture %}

{% assign sorted_members_id = members_id | split:' ' |  sort %}
{% for member_id in sorted_members_id %}
  {% assign member = site.data.people[member_id] %}
  {% if member.member %}
  <div class='row spacer-20'>
    <div class='col-md-10'>
      <h3>
      {{member.name}}
      <small>
      <span class="circled-icon">
        {% for link in member.social %}
          <a href='{{link.url}}'><i class='fa {{link.icon}}'></i></a>
        {% endfor %}
      </span>
      </small>
      </h3>
      <div>
        <p>{{member.bio | markdownify}}</p>
      </div>
    </div>
    <div class='col-md-2'>
      <img alt="Photo {{member.name}}" class="img-responsive img-thumbnail" src="/assets/images/team/{{member.photo}}" />
    </div>
  </div>
  {% endif %}
{% endfor %}
<div class='row spacer-40'>
</div>
