---
layout: default
title: Les membres
description: >
  Les membres d'Ajiro
---

<div class="row mt-2">
  <div class="col-xs-12 text-xs-center">
    <h1>{{page.title}}</h1>
  </div>
</div>

<div class='row mb-3'>
  {% capture people_id %}
    {% for people in site.data.people %}
      {{ people | first }}
    {% endfor %}
  {% endcapture %}

  {% assign sorted_people_id = people_id | split:' ' |  sort %}
  {% for people_id in sorted_people_id %}
    {% assign people = site.data.people[people_id] %}
    {% if people.member %}
      {% include components/people.html people=people %}
    {% endif %}
  {% endfor %}
</div>
