---
layout: default
title: Les membres
description: >
  Les membres d'Ajiro
---

<div class='row spacer-20'>
  <div class='col-md-12 text-center'>
    <h2>{{page.title}}</h2>
  </div>
</div>

{% for member in site.data.team %}
  {% unless member[1].hidden %}
  <div class='row spacer-20'>
    <div class='col-md-10'>
      <h3>
      {{member[1].name}}
      <small>
      <span class="circled-icon">
        {% for link in member[1].social %}
          <a href='{{link.url}}'><i class='fa {{link.icon}}'></i></a>
        {% endfor %}
      </span>
      </small>
      </h3>
      <div><em>
        <p>{{member[1].bio | markdownify}}</p>
      </em></div>
    </div>
    <div class='col-md-2'>
      <img alt="Photo {{member[1].name}}" class="img-responsive img-thumbnail" src="/assets/images/team/{{member[1].photo}}" />
    </div>
  </div>
  {% endunless %}
{% endfor %}
<div class='row spacer-40'>
</div>
