---
layout: default
---
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"http://ajiro.fr/{{ page.url }}"
  },
  "headline": "{{ page.title }}",
  "image": {
    "@type": "ImageObject",
    "url": "http://ajiro.fr/{{page.illustration}}",
    "width": "400 px",
    "height": "400 px"
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.date | date_to_xmlschema }}",
  "author": [
    {% for author in page.authors %}
      {"@type": "Person", "name": "{{ author }}"}
    {% endfor %}
  ],
  "publisher": {
    "@type": "Organization",
    "name": "Ajiro",
    "logo": {
      "@type": "ImageObject",
      "url": "http://ajiro.fr/assets/images/logo-ajiro.png",
      "width": "400 px",
      "height": "174 px"
    }
  },
  {% if page.description %}
      "description": "{{page.description | strip_newlines}}"
  {% else if page.excerpt %}
      "description": "{{page.excerpt | strip_html  | strip_newlines}}"
  {% endif %}
}
</script>

<div class="article">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-xs-12">
      <h1>
        {{ page.title }} {% if page.subtitle %}<br /><small>{{ page.subtitle }}</small> {% endif %}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-8 col-xs-12">
      <small>
        {% if page.tags.size > 0 %}
          <div class="float-xs-right">
            <i class="fa fa-tags"></i>
            {% for tag in page.tags %}
              <span class="tag tag-default">{{tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
        <div>
          <i class='fa fa-calendar'></i> {{ page.date | date: "%b %-d, %Y" }}
          &nbsp;—&nbsp;
          <i class='fa fa-clock-o'></i> {% include components/read_time.html content=page.content %}
        </div>
      </small>
    </div>
  </div>
  {% if page.illustration %}
    <div class="row spacer-20">
      <div class="offset-md-2 col-md-8 col-xs-12">
        {% capture asset %}articles/{{page.slug}}{% endcapture %}
        {% include components/image.html
          description=page.illustration.description
          name=page.illustration.name
          source=page.illustration.source
          legend=page.illustration.legend
          asset=asset
        %}
      </div>
    </div>
  {% endif %}
  <div class="row spacer-40">
    <div class="offset-md-2 col-md-8 col-xs-12">
      {{ content }}
    </div>
  </div>
  <div class="row spacer-40">
    <div class="offset-md-2 col-md-8 col-xs-12 text-xs-right">
      <div class="float-xs-right">{% include components/share_with.html %}</div>
      <a class="btn btn-default" href="https://github.com/ajiro-fr/ajiro-fr.github.io/edit/master/{{ page.path}} "><i class="fa fa-pencil"></i> Contribuez</a>
    </div>
  </div>

  {% for author_id in page.authors %}
    {% assign author = site.data.people[author_id] %}
    {% include components/people.html people=author %}
  {% endfor %}

  <div class="row">
    <div class="offset-md-2 col-md-8 col-xs-12">
      {% if page.contributors.size > 0 %}
      <hr>
      Contributeurs: <i>{{ page.contributors | join: ', ' }}</i>
      {% endif %}
    </div>
  </div>

</div>
