---
layout: default
---

<div class="text-justify">
  <div class="row mt-3">
    <div class="offset-md-2 col-md-8 col-xs-12">
      <h1>
        {{ page.title }} {% if page.authors %}<br/><small>{{ page.authors | join: ', ' }}</small>{% endif %}
      </h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2 col-xs-12">
      {% if page.cover %}
        <img alt="{{ page.title }} cover" src="/assets/books/{{page.cover}}" class="img-fluid" />
      {% endif %}
    </div>
    <div class="col-md-8 col-xs-12">
      <p>
        {{ page.authors | join: ', ' }}.
        <i>{{page.title}}</i>.
        {% if page.edition %}{{page.edition}}. {% endif %}
        {% if page.address %}{{page.address}} : {% endif %}
        {% if page.publisher %}{{page.publisher}}, {% endif %}
        {% if page.year %}{{page.year}}. {% endif %}
        {% if page.isbn %}ISBN: {{page.isbn}}{% endif %}
      </p>

      {% if page.summary %}
        <div class="card bg-light-gray">
          <div class="card-block">
            <h2>Résumé</h2>
            <p>{{page.summary | markdownify}}</p>
          </div>
        </div>
      {% endif %}

      {% if page.notes %}
        <h2>Notes</h2>
        <p>{{page.notes | markdownify}}</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="offset-md-2 col-md-8 col-xs-12">
      <h2>Liens</h2>
      <ul>
        {% for article in site.categories.articles %}
        {% unless article.hidden %}
        {% if article.content contains page.url %}
          <li><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endif %}
        {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% if page.references.size > 0 %}
    <div class="row">
      <div class="offset-md-2 col-md-8 col-xs-12">
        <h2>Références</h2>
        <ul>
        {% for reference in page.references %}
          <li>
            <a href="{{ reference.url }}">
              {% if reference.icon %}<i class="fa fa-{{reference.icon}}"></i>{% endif %}
              {{reference.title | markdown }}
            </a>
            {{reference.description | markdownify}}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}


  {% if page.comments %}
  <div class="row">
    <div class="offset-md-2 col-md-8 col-xs-12">
      <h2>Commentaires</h2>
    </div>
  </div>

  {% for comment in page.comments %}
  {% assign author = site.data.people[comment.author] %}
  <div class="row mt-2">
    <div class="col-md-2 col-xs-12 text-xs-right">
        <img alt="Photo {{author.name}}" width="80" class="rounded-circle" src="/assets/images/team/{{author.photo}}" />
    </div>
    <div class="col-md-8 col-xs-12">
      {{ comment.content | markdownify }}
      <div class="text-xs-right">&mdash; <em>{{ author.name }}</em></div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
