---
layout: default
---

<div class="article">
  <div class="row">
    <div class="col-md-12 col-xs-12">
    </div>
  </div>
  <div class="row spacer-20">
    <div class="offset-lg-2 col-lg-8 col-md-12">
      <h1>
        {{ page.title }} {% if page.subtitle %} <small>{{ page.subtitle }}</small> {% endif %}
      </h1>

      {% if page.illustration %}
      {% include components/image.html
        description=page.illustration.description
        name=page.illustration.name
        source=page.illustration.source
        legend=page.illustration.legend
        asset=page.id
      %}
      {% endif %}

      <h2>Objectifs</h2>
      <p>{{page.objectives|markdownify}}</p>

      <p>
        <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{page.duration}}
        <br>
        <i class="fa fa-fw fa-users" aria-hidden="true"></i> {{page.participants}}
        {% if page.tags.size > 0 %}
          <br>
          <i class="fa fa-fw fa-tags"></i>
          {% for tag in page.tags %}
            <span class="tag tag-default">{{tag}}</span>
          {% endfor %}
        {% endif %}
      </p>

      <h2>Materiel</h2>
      <ul>
      {% for item in page.materials %}
        <li>{{item|markdownify}}</li>
      {% endfor %}
      </ul>

      {{ content }}

    </div>
  </div>

</div>
