---
layout: default
---

<div class="article">
  <div class="row">
    <div class="offset-lg-2 col-lg-8 col-md-12">
      <h1>
        {{ page.title }} {% if page.subtitle %}<br /><small>{{ page.subtitle }}</small> {% endif %}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-2 col-lg-8 col-md-12">
      <small>
        {% if page.tags.size > 0 %}
          <div class="float-xs-right">
            <i class="fa fa-tags"></i>
            {% for tag in page.tags %}
              <span class="tag tag-default">{{tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
        <div>
          <i class='fa fa-clock-o'></i> {{ page.duration }}
          &nbsp;—&nbsp;
          <i class='fa fa-cog'></i> {{ page.type }}
        </div>
      </small>
    </div>
  </div>
  {% if page.illustration %}
    <div class="row mt-2">
      <div class="offset-lg-2 col-lg-8 col-md-12">
        {% capture asset %}talks/{{page.slug}}{% endcapture %}
        {% include components/image.html
          description=page.illustration.description
          name=page.illustration.name
          source=page.illustration.source
          legend=page.illustration.legend
          asset=asset
          top=true
        %}
      </div>
    </div>
  {% endif %}
  <div class="row mt-3">
    <div class="offset-lg-2 col-lg-8 col-md-12">
      <div class="card talk-card">
        <div class="card-block">
          <h2>Résumé</h2>
          {{ page.abstract }}

          {% if page.sessions.size > 0 %}
            <h2>Sessions</h2>
            <ul>
              {% for session in page.sessions %}
              <li>
                <i class='fa fa-calendar'></i> {{ session.date | date: "%b %-d, %Y" }}
                —
                {% if session.url %}
                  <a href="{{ session.url }}">{{session.name}}</a>
                {% else %}
                  {{session.name}}
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="offset-lg-2 col-lg-8 col-md-12">
      {{ page.content }}
    </div>
  </div>

  {% for author_id in page.authors %}
    {% assign author = site.data.people[author_id] %}
    {% include components/people.html people=author %}
  {% endfor %}

</div>
