{{ define "main" }}
  <div class='row mt-3'>
    <div class='offset-lg-2 col-lg-8 col-xs-12 text-xs-center'>
      <h1>
        {{ partial "components/pages/title" . }}
      </h1>
    </div>
  </div>

  {{ range .Pages }}
  <div class="card mt-1">
    <div class="card-block">
      <div class="row">
        <div class="col-lg-1 col-xs-12">
          <a href="{{ .RelPermalink }}">
            <img class="book-cover" alt="{{ .Title }} cover" src="{{ .RelPermalink }}/cover.jpg" />
          </a>
        </div>
        <div class="col-lg-11 col-xs-12">
          <small>
            <div class="float-xs-right">
              {{ partial "components/pages/tags" . }}
            </div>
          </small>
          <h3 class="card-title">
            <a href="{{ .RelPermalink }}">
              {{ .Title | markdownify }}
            </a>
            <br><small>{{delimit .Params.book_authors ';'}}</small>
          </h3>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
{{ end }}
