---
layout: default
title: Articles
---

<div class='row spacer-20'>
  <div class='col-md-12 text-center'>
    <h2>Les articles</h2>
  </div>
</div>

{% for article in site.categories.articles %}
{% unless article.hidden %}
<div class="row spacer-40">
  <div class="col-sm-3 text-right">
    <h3>
        <i class='fa fa-calendar'></i> {{ article.date | date: "%b %-d, %Y" }}
    </h3>
  </div>
  <div class="col-sm-8 col-xs-12">
    <h3>
      <a href="{{ article.url }}">{{ article.title }}</a>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text-right block-right">
    {% if article.authors %}
      {% for author_id in article.authors %}
        {% assign author = site.data.people[author_id] %}
        <img alt="Photo {{author.name}}" width="80" class="img-circle" src="/assets/images/team/{{author.photo}}" />
      {% endfor %}
    {% endif %}
  </div>
  <div class="col-sm-5 col-xs-12">
    <div class="text-justify">
      {% if article.description %}
        {{article.description}}
      {% else if article.excerpt %}
        {{article.excerpt}}
      {% endif %}
    </div>
    {% if article.tags.size > 0 %}
      <small>
        <i class="fa fa-tags"></i>
        {% for tag in article.tags %}
          <span class="label label-default">{{tag}}</span>
        {% endfor %}
      </small>
    {% endif %}
    <div class="spacer-20">
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <img alt='{{ article.title }} illustration' src='{{article.illustration.path}}' class="img-responsive img-rounded">
  </div>
</div>
{% endunless %}
{% endfor %}
