---
layout: default
title: Articles
---

<div class='row spacer-20'>
  <div class='col-lg-12 text-xs-center'>
    <h1>Les articles</h1>
  </div>
</div>

{% for article in site.categories.articles %}
{% unless article.hidden %}
<div class="row spacer-40">
  <div class="col-md-3 text-xs-right ">
    <h3>
      <span class="article-list__calendar">
      <i class='fa fa-calendar'></i> {{ article.date | date: "%-d %b %Y" }}
      </span>
    </h3>
  </div>
  <div class="col-md-8 col-xs-12">
    <h3>
      <a href="{{ article.url }}">{{ article.title }}</a>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3 text-xs-right block-right">
    {% if article.authors %}
      {% for author_id in article.authors %}
        {% assign author = site.data.people[author_id] %}
        <img alt="Photo {{author.name}}" width="80" class="rounded-circle" src="/assets/images/team/{{author.photo}}" />
      {% endfor %}
    {% endif %}
  </div>
  <div class="col-md-5 col-xs-12">
    <div class="text-justify">
      {% if article.description %}
        {{article.description}}
      {% else if article.excerpt %}
        {{article.excerpt}}
      {% endif %}
    </div>
    {% if article.tags.size > 0 %}
      <small>
        <i class="fa fa-tags"></i>
        {% for tag in article.tags %}
          <span class="tag tag-default">{{tag}}</span>
        {% endfor %}
      </small>
    {% endif %}
    <div class="spacer-20">
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    {% capture description %}Illustration pour "{{article.title}}"{% endcapture %}
    {% include components/image.html
      description=description
      name=article.illustration.name
      article=article.slug
    %}
  </div>
</div>
{% endunless %}
{% endfor %}
